{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Entrar {% endblock %}

{% block body %}

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <h2 class="ui horizontal divider header">Entrar</h2>

        <div class="ui segment">
            <form class="ui form" role="form" method="post" action=".">
                {% csrf_token %}
                <div class="field">
                    <label>Usuário:</label>
                    <input class="form-control" placeholder="Usuário" id="id_username" maxlength="254" name="username"
                           type="text" required autofocus=""/>
                </div>

                <div class="field">
                    <label>Senha:</label>
                    <input type="password" class="form-control" placeholder="Senha" id="id_password" name="password"
                           required/>
                </div>

                <button type="submit" value="Submit" class="ui button">Entrar</button>
            </form>
        </div>

        <p><a href="{% url 'registration_register' %}">Cadastre-se aqui</a>!</p>

    </div>
    <div class="two wide column"></div>
</div>
{% endblock %}

