{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Sair{% endblock %}

{% block body %}
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui message">
        <div class="header">
            Conta desconectada
        </div>
        <p>Você acaba de desconectar sua conta.</p>
    </div>
</div>
<div class="two wide column"></div>
{% endblock %}