{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_idade %}


{% block title %}Detalhes da Categoria do Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes da Categoria do Bovino {{bovino.nome}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a class="ui button" href="{% url 'listar_categoria_bovinos' %}" name="listar"><i class="list layout icon"></i></a>
                <a class="ui button" href="{% url 'editar_categoria_bovino' bovino.id %}" name="editar"><i class="write icon"></i></a>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Nome:</label>
                    {% if bovino.nome %}
                        <input value={{bovino.nome}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Brinco:</label>
                    {% if bovino.brinco %}
                        <input value={{bovino.brinco}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label-form">Categoria:</label>
                {% if bovino.categoria.all %}
                    {% for categoria in bovino.categoria.all %}
                        <input value={{categoria.categoria}} disabled>
                    {% endfor %}
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="two wide column"></div>

{% endblock %}
