{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Detalhes dao Descarte{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Descarte do Bovino {{descarte.bovino}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a class="ui button" href="{% url 'listar_descarte' %}" name="listar"><i class="list layout icon"></i></a>
                <a class="ui button" href="{% url 'editar_descarte' descarte.id %}" name="editar"><i class="write icon"></i></a>
                <a class="ui button" href="{% url 'excluir_descarte' descarte.id %}" name="excluir" id="{{ descarte.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Bovino:</label>
                {% if descarte.bovino %}
                    <input value={{descarte.bovino}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Observação:</label>
                {% if descarte.observacao %}
                    <input value={{descarte.observacao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
