{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Detalhes da Gestação{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
    <div class="ui attached message">
        <h3 class="ui header">
            Detalhes do Gestação da {{ gestacao.inseminacao.vaca.nome }}
        </h3>
    </div>

    <div class="ui form attached fluid segment">
        <div class="ui small basic icon buttons">
            <a class="ui button" href="{% url 'listar_gestacao' %}" name="listar"><i class="list layout icon"></i></a>
            <a class="ui button" href="{% url 'editar_gestacao' gestacao.id %}" name="editar"><i class="write icon"></i></a>
            <a class="ui button" href="{% url 'excluir_gestacao' gestacao.id %}" name="excluir" id="{{ gestacao.id }}"><i class="trash icon"></i></a>
        </div>

        <div class="field">
            <label class="label-form">Descrição da inseminação:</label>
            <input value={{gestacao.inseminacao.data_inseminacao|date:'d/m/Y'}} disabled>
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data prevista do diagnóstico da gestação:</label>
                {% if gestacao.data_prevista_diagnostico_gestacao %}
                    <input value={{gestacao.data_prevista_diagnostico_gestacao|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Data do diagnóstico da gestação:</label>
                {% if gestacao.data_diagnostico_gestacao %}
                    <input value={{gestacao.data_diagnostico_gestacao|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data prevista do parto:</label>
                {% if gestacao.data_prevista_parto %}
                    <input value={{gestacao.data_prevista_parto|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Data do parto</label>
                {% if gestacao.data_parto %}
                    <input value={{gestacao.data_parto|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data prevista para secar:</label>
                {% if gestacao.data_prevista_secar %}
                    <input value={{gestacao.data_prevista_secar|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Data em que secou:</label>
                {% if gestacao.data_secar %}
                    <input value={{gestacao.data_secar|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}

            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label class="label-form">Dias após o último parto:</label>
                {% if gestacao.dias_pos_ultimo_parto %}
                    <input value={{gestacao.dias_pos_ultimo_parto}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">DEL:</label>
                {% if gestacao.del_dias_em_lactacao %}
                    <input value={{gestacao.del_dias_em_lactacao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">IPC:</label>
                {% if gestacao.ipc %}
                    <input value={{gestacao.ipc}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label-form">Observação:</label>
            {% if gestacao.observacao %}
                <input value={{gestacao.observacao}} disabled>
            {% else %}
                <input value="" disabled>
            {% endif %}
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
