{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_inseminacao %}


{% block title %}Detalhes da Inseminação{% endblock %}

{% block body %}
<div class="two wide column"></div>
<div class="twelve wide column">
    <div class="ui attached message">
        <h3 class="ui header">
            Detalhes do Inseminação da {{inseminacao.vaca}}
        </h3>
    </div>

    <div class="ui form attached fluid segment">
        <div class="ui small basic icon buttons">
            <a class="ui button" href="{% url 'listar_inseminacao' %}" name="listar"><i class="list layout icon"></i></a>
            <a class="ui button" href="{% url 'editar_inseminacao' inseminacao.id %}" name="editar"><i class="write icon"></i></a>
            <a class="ui button" href="{% url 'excluir_inseminacao' inseminacao.id %}" name="excluir" id="{{ inseminacao.id }}"><i class="trash icon"></i></a>
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data da Inseminação:</label>
                <input value={{inseminacao.data_inseminacao|date:'d/m/Y'}} disabled>
            </div>

            <div class="field">
                <label class="label-form">Status da Inseminação:</label>
                {% if inseminacao.status_inseminacao %}
                    <input value="Prenha" disabled>
                {% else %}
                    <input value="A confirmar" disabled>
                {% endif %}
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Vaca:</label>
                {%  if inseminacao.vaca %}
                    <input value={{inseminacao.vaca}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Touro:</label>
                {%  if inseminacao.touro %}
                    <input value={{inseminacao.touro.nome}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>

        <div class="field">
            <label class="label-form">Inseminador:</label>
            {% if inseminacao.inseminador %}
                <input value={{inseminacao.inseminador}} disabled>
            {% else %}
                <input value="" disabled>
            {% endif %}
        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data prevista do cio:</label>
                {% if inseminacao.data_prevista_cio  %}
                    <input value={{inseminacao.data_prevista_cio|date:'d/m/Y'}} disabled>
                {% else %}
                <input value="" disabled>
                {% endif %}
            </div>
            <div class="field">
                <label class="label-form">Data do cio:</label>
                {% if inseminacao.data_cio  %}
                    <input value={{inseminacao.data_cio|date:'d/m/Y'}} disabled>
                {% else %}
                <input value="" disabled>
                {% endif %}
            </div>

        </div>

        <div class="two fields">
            <div class="field">
                <label class="label-form">Data prevista do diagnóstico da gestação:</label>
                {% if inseminacao.data_inseminacao %}
                    <input value={{inseminacao.data_inseminacao|calcula_data_prevista_diagnostico_gestacao|date:'d/m/Y'}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>


        <div class="field">
            <label class="label-form">Observação:</label>
            {% if inseminacao.observacao %}
                <textarea disabled>{{ inseminacao.observacao }}</textarea>
            {% else %}
                <input value="" disabled>
            {% endif %}
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
