{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_idade %}


{% block title %}Detalhes do Lote do Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Lote do Bovino {{bovino.nome}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a class="ui button" href="{% url 'listar_lote_bovinos' %}" name="listar"><i class="list layout icon"></i></a>
                <a class="ui button" href="{% url 'editar_lote_bovino' bovino.id %}" name="editar"><i class="write icon"></i></a>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Nome:</label>
                    {% if bovino.nome %}
                        <input value={{bovino.nome}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Brinco:</label>
                    {% if bovino.brinco %}
                        <input value={{bovino.brinco}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label-form">Lote:</label>
                {% if bovino.lote.all %}
                    {% for lote in bovino.lote.all %}
                        <input value={{lote.lote}} disabled>
                    {% endfor %}
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="two wide column"></div>

{% endblock %}
