{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Detalhes do Lote {% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Detalhes do Lote {{lote.lote}}
            </h3>
        </div>

        <div class="ui form attached fluid segment">
            <div class="ui small basic icon buttons">
                <a  class="ui button" href="{% url 'listar_lote' %}" name="listar"><i class="list layout icon"></i></a>
                <a  class="ui button" href="{% url 'editar_lote' lote.id %}" name="editar"><i class="write icon"></i></a>
                <a  class="ui button" href="{% url 'excluir_lote' lote.id %}" name="excluir" id="{{ lote.id }}"><i class="trash icon"></i></a>
            </div>

            <div class="field">
                <label class="label-form">Nome:</label>
                {% if lote.lote %}
                    <input value={{lote.lote}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="field">
                <label class="label-form">Descrição:</label>
                {% if lote.descricao %}
                    <input value={{lote.descricao}} disabled>
                {% else %}
                    <input value="" disabled>
                {% endif %}
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form">Perído de duração previto:</label>
                    {% if lote.periodo_duracao_previsto %}
                        <input value={{lote.periodo_duracao_previsto}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form">Perído de duração padrão:</label>
                    {% if lote.periodo_duracao_previsto %}
                        <input value={{lote.periodo_duracao_padrao}} disabled>
                    {% else %}
                        <input value="" disabled>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column"></div>
{% endblock %}
