{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Perfil do Usuário{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <h1>Perfil do Usuário {{pessoa.username}}</h1>


      <a href="{% url 'painel_controle' %}" name="painel_controle"><i class="configure icon"></i></a>
      <a href="{% url 'listar_pessoa' %}" name="listar"><i class="list layout icon"></i></a>
      <a href="{% url 'editar_pessoa' pessoa.id %}" name="editar"><i class="write icon"></i></a>
      <a href="{% url 'excluir_pessoa' pessoa.id %}" name="excluir" id="{{ pessoa.id }}"><i class="trash icon"></i></a>


    </div>
    <div class="two wide column"></div>
{% endblock %}
