.icon-lattes{
    /*background: transparent url('../images/icon-lattes-2.png') no-repeat;*/
    background-image: url('../images/icon-lattes.png');
    /*background-position: center;*/
    background-size: 100%;

    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;

}