.logo-sistema{
    background: transparent url('../images/logo-bovino.png') no-repeat;
    background-position: center;
    background-size: 100%;

    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 0%;
    padding: 0%;
    float: left;
}
