{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block title %}Editar Inseminação{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui attached message">
            <h3 class="ui header">
                Editar Informações de Inseminação da {{inseminacao.vaca}}
            </h3>
        </div>

        <form class="ui form attached fluid segment" role="form" id="formInseminacao" method="post" action="{% url 'editar_inseminacao' inseminacao.id%}">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.data_inseminacao.help_text }}</label>
                    {{ form.data_inseminacao|attr:"type:date" }}
                    {% if form.data_inseminacao.errors %}
                        {{ form.data_inseminacao.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.vaca.help_text }}</label>
                    {{ form.vaca }}
                    {% if form.inseminacao.vaca.errors %}
                        {{ form.vaca.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.touro.help_text }}</label>
                    {{ form.touro }}
                    {% if form.touro.errors %}
                        {{ form.touro.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label-form"> {{ form.inseminador.help_text }}</label>
                {{ form.inseminador }}
                {% if form.inseminador.errors %}
                    {{ form.inseminador.errors }}
                {% endif %}
            </div>

            <div class="two fields">
                <div class="field">
                    <label class="label-form"> {{ form.data_prevista_cio.help_text }}</label>
                    {{ form.data_prevista_cio|attr:"type:date" }}
                    {% if form.data_prevista_cio.errors %}
                        {{ form.data_prevista_cio.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label-form"> {{ form.data_cio.help_text }}</label>
                    {{ form.data_cio|attr:"type:date" }}
                    {% if form.data_cio.errors %}
                        {{ form.data_cio.errors }}
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <label class="label-form"> {{ form.observacao.help_text }}</label>
                {{ form.observacao }}
                {% if form.observacao.errors %}
                    {{ form.observacao.errors }}
                {% endif %}
            </div>


            <a href="{% url 'visualizar_inseminacao' inseminacao.id %}" class='ui button'>Cancelar</a>
            <button class="ui button" type="submit" name="editar">Editar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
