{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Editar Pessoa{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <h1 class="form-signin-heading">Editar Informações do Perfil de {{pessoa.pessoa}}</h1>

    </div>
    <div class="two wide column"></div>
{% endblock %}
