<html>

<head>
    <title>Passo {{ passo }} - TrajeSim</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    
    {% load staticfiles %}
    <!-- CSS !-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/theme.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}">
    <!-- JS !-->    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrsCB8LH3YeJSvisJLFKdEKY7zLsMWxdU">
    </script>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>

    <script type="text/javascript" src="{% static 'semantic/dist/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/poligono.min.js' %}"></script>
{#    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>#}
    <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotagem_default.js' %}"></script>

    {% block extrahead %}{% endblock %}
    
</head>

<body>

    <div class="ui grid centered">
        <div class="row azul topo">
            <div class="fourteen wide column azul">
                <div class="ui grid">
                    <div class="four wide column">
                        <img class="ui image small" src="{% static 'images/logo.png' %}">
                    </div>
                    <div class="twelve wide column">
                        
                        <div class="ui ordered steps">

                            <div class="step" id="p1">
                                <div class="content">
                                    <div class="title">Passo 1</div>
                                    <div class="description">Definir Período</div>
                                </div>
                            </div>
                            <div class="step" id="p2">
                                <div class="content">
                                    <div class="title">Passo 2</div>
                                    <div class="description">Desenhar Polígono</div>
                                </div>
                            </div>
                            <div class="step" id="p3">
                                <div class="content">
                                    <div class="title">Passo 3</div>
                                    <div class="description">Selecionar referencial</div>
                                </div>
                            </div>
                            <div class="step" id="p4">
                                <div class="content">
                                    <div class="title">Passo 4</div>
                                    <div class="description">Definir Percentuais</div>
                                </div>
                            </div>
                            <div class="step" id="p5">
                                <div class="content">
                                    <div class="title">Passo 5</div>
                                    <div class="description">Resultados</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row conteudo">
            <div class="three wide column" style="height:80%;">
                {% block content %}{% endblock %}
            </div>
            <div class="eleven wide column" id="mapa" style="height:80%;"></div>
        </div>
    </div>

    <div class="objetos_ocultos">
        <input type="hidden" id="passo" value="{{ passo }}" readonly="true">
        <input type="hidden" id="poligono_da_consulta" value="{{ global.poligono }}" readonly="true">
        <input type="hidden" id="centro" value="{{ global.centro }}" readonly="true">
        <input type="hidden" id="zoom" value="{{ global.zoom }}" readonly="true">
    </div>
</body>

</html>
