<html>
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base_trajesim.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/logo-sistema.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icon-lattes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/maps.css' %}" />
    <link rel="stylesheet" href="{% static 'css/multi_steps.css' %}" />
    <link rel="stylesheet" href="{% static 'css/info-window.css' %}" />


    {# JQuery library #}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js'%}"></script>
{#    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ZLBWj0fpYKpFNAlGJJaCoVVpJm-sXTk" type="text/javascript"></script>#}

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrsCB8LH3YeJSvisJLFKdEKY7zLsMWxdU">
    </script>

    <script type="text/javascript" src="{% static 'js/poligono.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plotagem_default.js' %}"></script>

    {# semantic #}
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    <section>
        <header>
            <div class="nav">
                    {% include "app_bovino/menu_computer.html" %}
            </div>
        </header>

        <article class="ui stackable grid">
            <div class="row"></div>
            <div class="row">
                {% include "trajesim/menu_steps_trajesim.html" %}
            </div>

            <div class="row conteudo">
                <div class="one wide column"></div>
                <div class="three wide column ">
                    {% block content %}{% endblock %}
                </div>
                <div class="eleven wide column" id="mapa"></div>
              <div class="one wide column"></div>
            </div>

            <div class="row"></div>


        </article>

        <footer class="ui centered middle aligned stackable grid azul">
            <div class="one wide column">
                <a href='http://ifc.edu.br'>
                    <img class="ui image centered tiny" src="{% static "images/logo-ifc-vertical-branco.png" %}"
                         alt="Logo Instituto Federal Catarinense">
                </a>
            </div>
            <div class="eight wide column ui center aligned basic segment">
                    <div class="row">Desenvolvido por <a href="http://lattes.cnpq.br/6784216532912514"> Marilia Ribeiro da Silva</a> em parceria com a <a href="http://fabricadesoftware.araquari.ifc.edu.br/">Fábrica de Software</a></div>
                    <div class="row">Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Câmpus Araquari </div>
                <div class="row">Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Araquari - SC</div>
                <div class="row">Fone (47) 3803-7200 - Fax (47) 3803-7201</div>
            </div>
            <div class="one wide column">
                <a href='http://fabricadesoftware.ifc.edu.br'>
                    <img class="ui image centered tiny" src="{% static "images/logo-fabrica.png" %}"
                         alt="Logo Fábrica de Software">
                </a>
            </div>
        </footer>
    </section>

   <div class="objetos_ocultos">
        <input type="hidden" id="passo" value="{{ passo }}" readonly="true">
        <input type="hidden" id="poligono_da_consulta" value="{{ global.poligono }}" readonly="true">
        <input type="hidden" id="centro" value="{{ global.centro }}" readonly="true">
        <input type="hidden" id="zoom" value="{{ global.zoom }}" readonly="true">
    </div>
</body>
</html>
