{% extends 'trajesim/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/passo1.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/passo2.js' %}"></script>#}
{% endblock %}
{% block content %}
    <div class="six wide column aligned center">

        <form class="ui form segment teal" method="POST" action="{% url 'passo2' %}">
            {% csrf_token %}
            <div class="field">
                <label>Data Inicial</label>
                <input type="date" name="data_inicio" id="inicio" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}" value="1/1/2000" placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" required>
            </div>

            <div class="field">
                <label>Data Final</label>
                <input type="date" name="data_fim" id="fim" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}"  placeholder="dd/mm/aaaa" title="Insira uma data no formato dd/mm/aaaa" value="" required>
            </div>
            <button type="submit" value="Continuar" class="fluid ui submit button green right labeled icon"><i class="icon right arrow"></i>Continuar</button>
        </form>
    </div>
{#    <div class="objetos_ocultos">#}
{#        <textarea id="trajetorias_encontradas" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{{ trajeto.trajetoria }};{% endfor %}</textarea>#}
{#    </div>#}
{% endblock %}
