{% extends 'trajesim/base.html' %}{% load staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/passo4.js' %}"></script>
{% endblock %}

{% block content %}

<div class="ui segment teal">
    <div class="ui header">
        Defina os Percentuais (%) 
        <div class="sub header">Determine o percentual de similaridade de cada parâmetro para
        prosseguir com a consulta.</div>
    </div>
    <div class="ui divider"></div>

    <form method="post" action="{% url 'passo5' %}" class="ui form">
        {% csrf_token %}
        <table class="parametros" rules="cols">

            <tr>
                <td colspan="2"><label class="ui fluid label">Comprimento</label></td>
            </tr>
            <tr>
                <td><input type="range" name="comprimento" id="comprimento" max="99" min="0" value="50"></td>
                <td><div class="ui label azul large fluid" id="comprimento_atual">50 %</div></td>
            </tr>

            <tr>
                <td colspan="2"><label class="ui fluid label">Tempo</label></td>
            </tr>
            <tr>
                <td><input type="range" name="tempo" id="tempo" max="99" min="0" value="50"></td>
                <td><div class="ui label azul large fluid" id="tempo_atual">50 %</div></td>
            </tr>

            <tr>
                <td colspan="2"><label class="ui fluid label">Forma</label></td>
            </tr>
            <tr>
                <td><input type="range" name="forma" id="forma" max="99" min="0" value="50"></td>
                <td><div class="ui label azul large fluid" id="forma_atual">50 %</div></td>
            </tr>
        </table>
        </br>
        {% if global.trajetos != False %}
            <button class="fluid ui submit button green field right labeled icon" type="submit" value="Continuar"><i class="icon right arrow"></i>Continuar</button>
            <a href="{% url 'passo3' %}" class="ui fluid button red labeled icon field"><i class="icon left arrow"></i>Voltar</a>

            <input type="hidden" id="trajetorias_encontradas"  class="objetoOculto" readonly="true" value="{% if global.trajetos|length == 0 %}{{ trajetos }}{% else %}{% for subtrajeto in global.trajetos %}{{ subtrajeto.subtrajeto }};{% endfor %}{% endif %}">
        {% endif %}
    </form>

</div>

{% endblock %}

