{% extends 'trajesim/base.html' %}
{% load staticfiles %}
{% load segundos_hora %}


{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/passo2.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="ui segment teal">
        <div class="ui header">
            Área da Consulta
            <div class="sub header">Defina um polígono que representará a área geográfica de consulta. Clicando no mapa você está demarcando os vértices do polígono</div>
        </div>
        <div class="ui divider"></div>
    
        <div class="fluid ui button labeled icon azul" id="limpa"><i class="trash icon"></i>Limpar Seleção</div>
        <form method="post" action="{% url 'passo3' %}" class="ui form">
            {% csrf_token %}
                <div class="field">
                    <input type="hidden" id="painelcoordenadas" name="coordenadas" readonly="true" style="display-inline:none;">
                </div>
                <div class="field">
                    <button class="fluid ui submit button green disabled right labeled icon" id="submitPasso3" type="submit" value="Continuar"><i class="icon right arrow"></i>Continuar</button>
                </div>
                <div>
                    <a href="{% url 'passo1' %}" class="ui fluid button red labeled icon"><i class="icon left arrow"></i>Voltar</a>
                </div>
        </form>

    </div>



    <div class="objetos_ocultos">
        <textarea id="trajetorias_encontradas" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{{ trajeto.trajetoria }};{% endfor %}</textarea>
        <textarea id="textarea_nome_bovino" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.nome_animal }}{% else %}{{ trajeto.nome_animal }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_brinco" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.brinco }}{% else %}{{ trajeto.brinco }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_id_trajetoria" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.id_trajetoria }}{% else %}{{ trajeto.id_trajetoria }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_data_inicio_fim" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.data_inicio|date:'d/m/Y H:m:s' }} à  {{ trajeto.data_fim|date:'d/m/Y H:m:s'}}{% else %}{{ trajeto.data_inicio|date:'d/m/Y H:m:s' }} à  {{ trajeto.data_fim|date:'d/m/Y H:m:s'}};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_comprimento" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.comprimento }}{% else %}{{ trajeto.comprimento }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_tempo" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.tempo|segundoshoras}}{% else %}{{ trajeto.tempo|segundoshoras}};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_velocidade_minima" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.velocidade_minima.velocidade__min }}{% else %}{{ trajeto.velocidade_minima.velocidade__min }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_velocidade_maxima" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.velocidade_maxima.velocidade__max }}{% else %}{{ trajeto.velocidade_maxima.velocidade__max }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_velocidade_media" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.velocidade_media }}{% else %}{{ trajeto.velocidade_media }};{% endif %}{% endfor %}</textarea>
        <textarea id="textarea_qtd_pontos" readonly="true" rows="0" cols="0">{% for trajeto in trajetos %}{% if forloop.last %}{{ trajeto.quantidade_pontos.id_ponto__count }}{% else %}{{ trajeto.quantidade_pontos.id_ponto__count }};{% endif %}{% endfor %}</textarea>

    </div>
{% endblock %}