{% extends 'trajesim/base.html' %}{% load staticfiles %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/passo3.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="ui segment teal">
        <div class="ui header">
            Trajetória Referencial
            <div class="sub header">Selecione no mapa uma trajetória como referência para a consulta</div>
        </div>
        <div class="ui divider"></div>

        <form method="post" action="{% url 'passo4' %}" class="ui form">
            {% csrf_token %}
            <div class="field">
                    <label class="ui label">Identificação da Trajetória</label>
                    <input type="text" name="trajetoria_referencial" readonly="true" id="id_trajetoria_referencial" required>
            </div>
            <div class="field">
                <label class="ui label">Cor da Trajetória</label>
                <div class="ui input">
                    <input type="text" readonly="true" id="cor_trajetoria_referencial">
                </div>
            </div>
            <button class="fluid ui submit button green disabled field right labeled icon" id="submitPasso2" type="submit" value="Continuar"><i class="icon right arrow"></i>Continuar</button>
                <a href="{% url 'passo2' %}" class="ui fluid button red labeled icon field"><i class="icon left arrow"></i>Voltar</a>
        </form>
    </div>

    <div class="objetos_ocultos">
        <textarea id="ids_das_trajetorias_encontradas"  class="objetoOculto" readonly="true" rows="0" cols="0">{% if global.trajetos|length == 0 %}{{ trajetos }}{% else %}{% for subtrajeto in global.trajetos %}{{ subtrajeto.id }};{% endfor %}{% endif %}</textarea>

        <textarea id="trajetorias_encontradas"  class="objetoOculto" readonly="true" rows="0" cols="0">{% if global.trajetos|length == 0 %}{{ trajetos }}{% else %}{% for subtrajeto in global.trajetos %}{{ subtrajeto.subtrajeto }};{% endfor %}{% endif %}</textarea>
    </div>

{% if global.trajetos == False %}
    
    <div class="ui standard test modal">
        <i class="close icon"></i>
        <div class="header">
            Polígono Inválido
        </div>
        <div class="content">
            <div class="description">
                <div class="ui header">
                    <div class="sub header">Para ser válido, o polígono não pode se interceptar</div>
                </div>
                
                <div class="ui left stackable green segment row">
                    <a class="ui green ribbon label">Correto</a>

                    <div class="ui small circular images">
                        <img src="{% static 'images/poligonos-exemplos/exe-correto1.jpg' %}">
                        <img src="{% static 'images/poligonos-exemplos/exe-correto2.jpg' %}">
                        <img src="{% static 'images/poligonos-exemplos/exe-correto3.jpg' %}">
                    </div>
                </div>
            
                <div class="ui left stackable red segment">
                    <a class="ui red ribbon label">Incorreto</a>
                    <div class="ui small circular images">
                        <img src="{% static 'images/poligonos-exemplos/exe-incorreto.jpg' %}">
                    </div>
                </div>

            </div>
        </div>
        <div class="actions">
            <a href="{% url 'passo2' %}" class="ui red labeled icon button">
                <i class="icon left arrow"></i>
                Voltar
            </a>
        </div>
    </div>

{% else %}

    <div class="objetos_ocultos">
        <textarea id="ids_das_trajetorias_encontradas"  class="objetoOculto" readonly="true" rows="0" cols="0">{% for subtrajeto in global.trajetos %}{{ subtrajeto.id }};{% endfor %}</textarea>
        <textarea id="trajetorias_encontradas"  class="objetoOculto" readonly="true" rows="0" cols="0">{% if global.trajetos|length == 0 %}{{ trajetos }}{% else %}{% for subtrajeto in global.trajetos %}{{ subtrajeto.subtrajeto }};{% endfor %}{% endif %}</textarea>
    </div>

{% endif %}

{% endblock %}