{% extends 'uploader_base.html' %}
{% block content %}

<div class="ui inverted red segment">
	<h3>Ops, Houve um erro!</h3>

	{% if mensagem %}
		<p>{{ mensagem }}</p>
	{% endif %}

	<a class="ui inverted button" href="{% url 'uploader' %}">Retornar</a>
</div>

{% endblock %}