<html>

<head>
	<title>Uploader</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'semantic/dist/semantic.css' %}">

	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'semantic/dist/semantic.js' %}"></script>

</head>

<body>
	<div class="ui grid">
		<div class="black row">
			<div class="twelve wide column centered">
				</br><img class="ui medium image" src="{% static 'images/logo_uploader.png' %}">
			</div>
		</div>
		<div class="row">
			<div class="eight wide column centered">
				{% block content %}

				{% endblock %}
				<a href="{% url 'passo1' %}" class="ui icon labeled button"><i class="home icon"></i>Página Inicial</a>
			</div>
		</div>
	</div>
</body>

</html>
