{% extends 'trajesim/uploader_base.html' %}{% load staticfiles %}
{% block content %}

<div class="ui blue segment">
	<h3 class="ui header">Uploader de arquivos
		<div class="sub header">Suba seus arquivos de dados geográficos nos formatos .txt ou .plt	</div>
	</h3>

	<form method="POST" action="{% url 'process' %}" enctype="multipart/form-data">
		{% csrf_token %}
		{% for item in form %}
			{{ item }}
		{% endfor %}
		<input type="submit" value="Enviar">
	</form>
</div>

<div class="ui green segment">

	<h3 class="ui header">Processar
		<div class="sub header">Arquivos prontos para serem registrados no banco de dados</div>
	</h3>
	<div class="ui divider"></div>

	<div class="ui divided list">
		{% for file in files %}
			<div class="item">
{#				<a href="/remover?id={{ file.id }}" class="ui right floated red icon button"><i class="remove inverted icon"></i></a>#}
				<a href="{% url 'remover' file.id %}" class="ui right floated red icon button"><i class="remove inverted icon"></i></a>
				<div class="content">
					{{ file.titulo }}
				</div>
			</div>
		{% endfor %}
	</div>

	{% if files %}
		<a href="/remover?id=all" class="ui right floated button">Remover Tudo</a>
{#		<a href="/inserir/" class="ui green button" type="button">Processar Arquivos</a><a href="/remover?id=all" class="ui right floated button">Remover Tudo</a>#}
		<a href="{% url 'inserir' %}" class="ui green button" type="button">Processar Arquivos</a>
	{% else %}
		<h4 class="ui red header">Não existem arquivos para serem processados no momento</h4>
	{% endif %}
</div>

<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
{% endblock %}