{#{% load segundos_hora %}#}

{% for trajeto in trajetos %}
<div id="iw-container">
{#    <div class="iw-title"><b>Nome animal: </b><b id="b_nome_bovino"></b></div>#}
    <div class="iw-title"><b>Nome animal: </b><b id="b_nome_bovino{{ forloop.counter }}"></b></div>
    <div class="iw-subtitle"><b>Brinco: </b></div>
    <div class="iw-content">
{#        <img src="../../images/cow-1.png" alt="vaca" class="imagem-ifowindow">#}
        <ul>
            <li>ID da trajetória: </li>
            <li>Data:  à  </li>
            <li>Comprimento da trajetória:  km </li>
            <li>Tempo de duração: </li>
            <li>Velocidade mínima da trajetória: km/h</li>
            <li>Velocidade máxima da trajetória: km/h</li>
            <li>Velocidade média da trajetória:  km/h</li>
            <li>Quantidade de pontos da trajetória: </li>
        </ul>
    </div>
    <div class="iw-bottom-gradient"></div>
</div>
{% endfor %}

{#{% for trajeto in trajetos %}#}
{#<div id="iw-container">#}
{#    <div class="iw-title"><b>Nome animal: {{ trajeto.nome_animal }}</b></div>#}
{#    <div class="iw-subtitle"><b>Brinco: {{ trajeto.brinco }}</b></div>#}
{#    <div class="iw-content">#}
{#        <img src="../../images/cow-1.png" alt="vaca" class="imagem-ifowindow">#}
{#        <ul>#}
{#            <li id="id_trajetoria">ID da trajetória: {{ trajeto.id_trajetoria }} </li>#}
{#            <li id="id_trajetoria">Data: {{ trajeto.data_inicio|date:'d/m/Y H:m:s' }} à  {{ trajeto.data_fim|date:'d/m/Y H:m:s'}}</li>#}
{#            <li id="comprimento">Comprimento da trajetória: {{ trajeto.comprimento }} km </li>#}
{#            <li id="tempo">Tempo de duração: {{ trajeto.tempo|segundoshoras}} </li>#}
{#            <li id="velocidade_minima">Velocidade mínima da trajetória: {{ trajeto.velocidade_minima.velocidade__min }} km/h</li>#}
{#            <li>Velocidade máxima da trajetória: {{ trajeto.velocidade_maxima.velocidade__max }} km/h</li>#}
{#            <li id="velocidade_media">Velocidade média da trajetória: {{ trajeto.velocidade_media }} km/h</li>#}
{#            <li>Quantidade de pontos da trajetória: {{ trajeto.quantidade_pontos.id_ponto__count }}</li>#}
{#        </ul>#}
{#    </div>#}
{#    <div class="iw-bottom-gradient"></div>#}
{#</div>#}
{#{% endfor %}#}