{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_idade %}

{% block title %}Bovinos{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Bovinos</h1>
        </header>

        {% if bovinos %}
            <table class="ui teal table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Brinco</th>
                        <th>Raça</th>
                        <th>Data de Nascimento</th>
                        <th>Cruzamento (vaca/touro)</th>
                        <th>Idade (anos)</th>
                        <th>Lote</th>
                        <th>Categoria</th>
                        <th>Status Reprodutivo</th>
{#                        <th>Observação</th>#}

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for bovino in bovinos  %}
                    <tr>
                        <td>
                            {% if bovino.is_femea %}
                                <i class="woman icon"></i>
                            {% else %}
                                <i class="man icon"></i>
                            {% endif %}
                        </td>

                        <td>{% if bovino.nome %}{{ bovino.nome }}{% endif %}</td>
                        <td>{% if bovino.brinco %}{{ bovino.brinco }}{% endif %}</td>
                        <td>{% if bovino.raca %}{{ bovino.raca }}{% endif %}</td>
                        <td>{% if bovino.data_nascimento %}{{ bovino.data_nascimento|date:'d/m/Y' }}{% endif %}</td>
                        <td>{% if bovino.mae %}{{ bovino.mae }}{% endif %}{% if bovino.pai%}/ {{ bovino.pai.nome }}{% endif %}</td>
                        <td>{% if bovino.data_nascimento %}{{ bovino.data_nascimento|calcula_idade}}{% endif %}</td>
                        <td>
                            {% if bovino.lote %}
                              {% for lote in bovino.lote.all %}
                                {{lote.lote}}
                              {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if bovino.categoria %}
                              {% for categoria in bovino.categoria.all %}
                                {{categoria.categoria}}
                              {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                            {% if bovino.status_reprodutivo %}
                              {% for status_reprodutivo in bovino.status_reprodutivo.all %}
                                {{status_reprodutivo.status_reprodutivo}}
                              {% endfor %}
                            {% endif %}
                        </td>

{#                        <td>{% if bovino.observacao %}{{ bovino.observacao }}{% endif %}</td>#}


                        <td><a href="{% url 'visualizar_bovino' bovino.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_bovino' bovino.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_bovino' bovino.id %}" name="excluir" id="{{ bovino.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Bovino</div>
                          <p>Não existem bovino cadastrados.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

            <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
