{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Descartes{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Descarte de Bovinos</h1>
        </header>
        {% if descartes %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data do descarte</th>
                        <th>Nome</th>
                        <th>Brinco</th>
                        <th>Raça</th>
                        <th>Data de Nascimento</th>
{#                        <th>Cruzamento (vaca/touro)</th>#}
{#                        <th>Idade Atual</th>#}
                        <th>Lote</th>
                        <th>Categoria</th>
{#                        <th>Observação</th>#}

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for descarte in descartes  %}
                    <tr>
                        <td>
                            {% if descarte.bovino.isFemea %}
                                <i class="woman icon"></i>
                            {% else %}
                                <i class="man icon"></i>
                            {% endif %}
                        </td>

                        <td>{% if descarte.data %}{{ descarte.data|date:'d/m/Y'}}{% endif %}</td>
                        <td>{% if descarte.bovino.nome %}{{ descarte.bovino.nome }}{% endif %}</td>
                        <td>{% if descarte.bovino.brinco %}{{ descarte.bovino.brinco }}{% endif %}</td>
                        <td>{% if descarte.bovino.raca %}{{ descarte.bovino.raca }}{% endif %}</td>
                        <td>{% if descarte.bovino.data_nascimento %}{{ descarte.bovino.data_nascimento|date:'d/m/Y'}}{% endif %}</td>
{#                        <td> {%if descarte.bovino.pai %}{{ descarte.bovino.pai }}{% endif %}</td>#}
{#                        <td>{%if descarte.bovino.mae %}{{ descarte.bovino.mae }}{% endif %}</td>#}
{#                        <td>{% if descarte.bovino.idade_atual %}{{ descarte.bovino.idade_atual }}{% endif %}</td>#}
                        <td>
                          {%if descarte.bovino.lote %}
                            {% for lote in descarte.bovino.lote.all %}
                              {{lote.lote}}
                            {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                          {%if descarte.bovino.categoria %}
                            {% for categoria in descarte.bovino.categoria.all %}
                              {{categoria.categoria}}
                            {% endfor %}
                            {% endif %}
                        </td>
{#                        <td>{% if descarte.observacao %}{{ descarte.observacao }}{% endif %}</td>#}

                        <td><a href="{% url 'visualizar_descarte' descarte.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_descarte' descarte.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_descarte' descarte.id %}" name="excluir" id="{{ descarte.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Descarte de Bovinos</div>
                          <p>Não existem bovinos descartados.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
