{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Gestações{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <header>
        <h1 class="ui horizontal divider header">Gestações</h1>
      </header>

        {% if gestacoes %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th>Cruzamento (vaca/touro)</th>
                        <th>Data da Inseminação</th>
                        <th>Data do diagnóstico da gestação</th>
                        <th>Data prevista do parto</th>
                        <th>Data do parto</th>
                        <th>Data prevista para secar</th>
                        <th>Data em que secou</th>
                        <th>Detalhes</th>
                        <th data-orderable="false">Editar</th>
{#                        <th data-orderable="false">Excluir</th>#}
                    </tr>
                </thead>
                <tbody>
                {% for gestacao in gestacoes  %}
                    <tr>
                        <td>{{ gestacao.inseminacao.vaca.nome }}/ {{ gestacao.inseminacao.touro.nome }}</td>
                        <td>{{ gestacao.inseminacao.data_inseminacao|date:'d/m/Y' }}</td>
                        <td>{{ gestacao.data_diagnostico_gestacao|date:'d/m/Y' }}</td>
                        <td>{{ gestacao.data_prevista_parto|date:'d/m/Y' }}</td>
                        <td>{{ gestacao.data_parto|date:'d/m/Y' }}</td>
                        <td>{{ gestacao.data_prevista_secar|date:'d/m/Y' }}</td>
                        <td>{{ gestacao.data_secar|date:'d/m/Y' }}</td>

                        <td><a href="{% url 'visualizar_gestacao' gestacao.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_gestacao' gestacao.id %}"><i class="write icon"></i></a></td>
{#                        <td><a href="{% url 'excluir_gestacao' gestacao.id %}" name="excluir" id="{{ gestacao.id }}"><i class="trash icon"></i></a></td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Gestação</div>
                          <p>Não existem gestações cadastradas.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>
    </div>
    <div class="two wide column"></div>

{% endblock %}
