{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_inseminacao %}


{% block title %}Inseminações{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <header>
        <h1 class="ui horizontal divider header">Inseminações</h1>
      </header>

        {% if objects %}
              <table class="ui blue table" id="tablesorter-inseminacao">
                  <thead>
                      <tr>
                          <th>Status da inseminação</th>
                          <th>Data da inseminação</th>
                          <th>Cruzamento (vaca/touro)</th>
                          <th>Data prevista do cio</th>
                          <th>Data prevista do diagnóstico da gestação</th>
                          <th>Observação</th>
                          <th>Detalhes</th>
                          <th data-orderable="false">Editar</th>
                          <th data-orderable="false">Excluir</th>
                          <th>Confirmar inseminação</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for object in objects %}
                      <tr>
                          <td>
                            {% if object.status_inseminacao %}
                                <i class="green circle icon"></i>

                            {% else %}
                                <i class="red circle icon"></i>
                            {% endif %}
                        </td>
                          <td>{% if object.data_inseminacao %}{{ object.data_inseminacao|date:'d/m/Y' }}{% endif %}</td>
                          <td>{% if object.vaca and  object.touro%}{{object.vaca.nome}}/ {{object.touro.nome}}{% endif %}</td>
                          <td>{% if object.data_prevista_cio %}{{ object.data_prevista_cio|date:'d/m/Y' }}{% endif %}</td>
                          <td>{% if object.data_inseminacao %}{{ object.data_inseminacao|calcula_data_prevista_diagnostico_gestacao|date:'d/m/Y' }}{% endif %}</td>
                          <td>{% if object.observacao %}{{object.observacao}}{% endif %}</td>
                          <td><a href="{% url 'visualizar_inseminacao' object.id %}"><i class="info icon"></i></a></td>
                          <td><a href="{% url 'editar_inseminacao' object.id %}"><i class="write icon"></i></a></td>
                          <td><a href="{% url 'excluir_inseminacao' object.id %}" name="excluir" id="{{ object.id }}"><i class="trash icon"></i></a></td>
                          <td><a href="{% url 'confirmar_inseminacao' inseminacao_id=object.id %}"><i class="check icon"></i></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Inseminação</div>
                          <p>Não existem inseminações cadastradas.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
