{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Lotes{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Lotes</h1>
        </header>

        {% if lotes %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th>Lote</th>
                        <th>Descrição</th>
                        <th>Período de duração previsto</th>
                        <th>Período de duração padrão</th>

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for lote in lotes  %}
                    <tr>
                        <td>{% if lote.lote %}{{ lote.lote }}{% endif %}</td>
                        <td>{% if lote.descricao %}{{ lote.descricao }}{% endif %}</td>
                        <td>{% if lote.periodo_duracao_previsto %}{{ lote.periodo_duracao_previsto }}{% endif %}</td>
                        <td>{% if lote.periodo_duracao_padrao %}{{ lote.periodo_duracao_padrao }}{% endif %}</td>

                        <td><a href="{% url 'visualizar_lote' lote.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_lote' lote.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_lote' lote.id %}" name="excluir" id="{{ lote.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                  <div class="ui large warning icon message">
                      <i class="info icon"></i>
                      <div class="content">
                          <div class="header">Lote</div>
                          <p>Não existem lotes cadastrados.</p>
                      </div>
                  </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>
    </div>
    <div class="two wide column"></div>

{% endblock %}
