{% extends 'app_bovino/base.html' %}
{% load staticfiles %}
{% load tag_idade %}
{% load tag_bovino %}

{% block title %}Previsão de Troca de Status Reprodutivo dos Bovinos{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Previsão de Troca de Status Reprodutivo dos Bovinos</h1>
        </header>

        {% if bovinos %}
            <table class="ui teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Brinco</th>
                    <th>Status Reprodutivo</th>
                    <th>Data de duração prevista</th>
                    <th>Data de duração padrão</th>

                    <th data-orderable="false">Detalhes</th>
                    <th data-orderable="false">Editar</th>
                </tr>
                </thead>
                <tbody>
                {% for bovino in bovinos  %}
                    <tr>
                        <td>
                            {% if bovino.is_femea %}
                                <i class="woman icon"></i>
                            {% else %}
                                <i class="man icon"></i>
                            {% endif %}
                        </td>

                        <td>{% if bovino.nome %}{{ bovino.nome }}{% endif %}</td>
                        <td>{% if bovino.brinco %}{{ bovino.brinco }}{% endif %}</td>
                        <td>
                            {% if bovino.status_reprodutivo %}
                                {% for status_reprodutivo in bovino.status_reprodutivo.all %}
                                    {{status_reprodutivo.status_reprodutivo}}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if bovino.status_reprodutivo %}
                                {% for status_reprodutivo in bovino.status_reprodutivo.all %}
                                    {{status_reprodutivo.status_reprodutivo|calcula_duracao_prevista_status_reprodutivo:bovino|date:'d/m/Y'}}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if bovino.status_reprodutivo %}
                                {% for status_reprodutivo in bovino.status_reprodutivo.all %}
                                    {{status_reprodutivo.status_reprodutivo|calcula_duracao_padrao_status_reprodutivo:bovino|date:'d/m/Y'}}
                                {% endfor %}
                            {% endif %}
                        </td>

                        <td><a href="{% url 'visualizar_status_reprodutivo_bovino' bovino.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_status_reprodutivo_bovino' bovino.id %}"><i class="write icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="ui grid">
                <div class="four wide column"></div>
                <div class="eight wide column">
                    <div class="ui large warning icon message">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="header">Bovino</div>
                            <p>Não existem bovino cadastrados.</p>
                        </div>
                    </div>
                </div>
                <div class="four wide column"></div>
            </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
