{% extends 'app_bovino/base.html' %}
{% load staticfiles %}


{% block title %}Status Reprodutivo{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
            <h1 class="ui horizontal divider header">Status Reprodutivo</h1>
        </header>

        {% if status_reprodutivo %}
            <table class="ui blue table" id="tablesorter-categorias">
                <thead>
                    <tr>
                        <th>Status Reprodutivo</th>
                        <th>Descrição</th>
                        <th>Período de duração previsto</th>
                        <th>Período de duração padrão</th>

                        <th data-orderable="false">Detalhes</th>
                        <th data-orderable="false">Editar</th>
                        <th data-orderable="false">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for status in status_reprodutivo  %}
                    <tr>
                        <td>{% if status.status_reprodutivo %}{{ status.status_reprodutivo }}{% endif %}</td>
                        <td>{% if status.descricao %}{{ status.descricao }}{% endif %}</td>
                        <td>{% if status.periodo_duracao_previsto %}{{ status.periodo_duracao_previsto }}{% endif %}</td>
                        <td>{% if status.periodo_duracao_padrao %}{{ status.periodo_duracao_padrao }}{% endif %}</td>

                        <td><a href="{% url 'visualizar_status_reprodutivo' status.id %}"><i class="info icon"></i></a></td>
                        <td><a href="{% url 'editar_status_reprodutivo' status.id %}"><i class="write icon"></i></a></td>
                        <td><a href="{% url 'excluir_status_reprodutivo' status.id %}" name="excluir" id="{{ status.id }}"><i class="trash icon"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel panel-info">
              <div class="ui grid">
                <div class="four wide column"></div>
                <div class="eight wide column">
                    <div class="ui large warning icon message">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="header">Status Reprodutivo</div>
                            <p>Não existem status reprodutivo cadastrados.</p>
                        </div>
                    </div>
                  </div>
                  <div class="four wide column"></div>
              </div>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="ui left floated button">Voltar</a>

    </div>
    <div class="two wide column"></div>

{% endblock %}
