{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Descartar Bovino{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="ui attached message">
        <h3 class="ui header">
          Descartar Bovino
        </h3>
      </div>
      <form class="ui form attached fluid segment" role="form" id="formDescarte" method="post" action="{% url 'cadastrar_descarte'%}">
            {% csrf_token %}

            <div class="field">
                <label class="label-form"> {{ form.bovino.help_text }}</label>
                {{ form.bovino }}
                {% if form.bovino.errors %}
                    {{ form.bovino.errors }}
                {% endif %}
            </div>

            <div class="ui field">
               <label class="label-form"> {{ form.observacao.help_text }}</label>
               {{ form.observacao }}
               {% if form.observacao.errors %}
                   {{ form.observacao.errors }}
               {% endif %}
            </div>

            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
