{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cadastrar Gestação{% endblock %}

{% block body %}
        <div class="two wide column"></div>
        <div class="twelve wide column">

          <div class="ui attached message">
            <h3 class="ui header">
              Cadastrar Gestação
            </h3>
          </div>

          <form class="ui form attached fluid segment" role="form" id="formGestacao" method="post" action="{% url 'cadastrar_gestacao'%}">
                {% csrf_token %}

              <div class="field">
                 <label class="label-form"> {{ form.inseminacao.help_text }}</label>
                 {{ form.inseminacao }}

                 {% if form.inseminacao.errors %}
                     {{ form.inseminacao.errors }}
                 {% endif %}
              </div>


                <div class="two fields">
                  <div class="field">
                     <label class="label-form"> {{ form.data_prevista_diagnostico_gestacao.help_text }}</label>
                     {{ form.data_prevista_diagnostico_gestacao|attr:"type:date" }}
                     {% if form.data_prevista_diagnostico_gestacao.errors %}
                         {{ form.data_prevista_diagnostico_gestacao.errors }}
                     {% endif %}
                  </div>
                  <div class="field">
                     <label class="label-form"> {{ form.data_diagnostico_gestacao.help_text }}</label>
                     {{ form.data_diagnostico_gestacao|attr:"type:date"}}
                     {% if form.data_diagnostico_gestacao.errors %}
                         {{ form.data_diagnostico_gestacao.errors }}
                     {% endif %}
                  </div>
                </div>

                <div class="two fields">
                    <div class="field">
                     <label class="label-form"> {{ form.data_prevista_parto.help_text }}</label>
                     {{ form.data_prevista_parto|attr:"type:date" }}
                     {% if form.data_prevista_parto.errors %}
                         {{ form.data_prevista_parto.errors }}
                     {% endif %}
                  </div>
                  <div class="field">
                     <label class="label-form"> {{ form.data_parto.help_text }}</label>
                     {{ form.data_parto|attr:"type:date" }}
                     {% if form.data_parto.errors %}
                         {{ form.data_parto.errors }}
                     {% endif %}
                  </div>
                </div>

                <div class="two fields">
                  <div class="field">
                     <label class="label-form"> {{ form.data_prevista_secar.help_text }}</label>
                     {{ form.data_prevista_secar|attr:"type:date"}}
                     {% if form.data_prevista_secar.errors %}
                         {{ form.data_prevista_secar.errors }}
                     {% endif %}
                  </div>
                  <div class="field">
                     <label class="label-form"> {{ form.data_secar.help_text }}</label>
                     {{ form.data_secar|attr:"type:date" }}
                     {% if form.data_secar.errors %}
                         {{ form.data_secar.errors }}
                     {% endif %}
                  </div>
                </div>

                <div class="field">
                     <label class="label-form"> {{ form.observacao.help_text }}</label>
                     {{ form.observacao }}
                     {% if form.observacao.errors %}
                         {{ form.observacao.errors }}
                     {% endif %}
                </div>

                <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
                <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
            </form>
        </div>
        <div class="two wide column"></div>
{% endblock %}
