{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Cadastrar Pessoa{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <!--<header>
        <h1 class="ui horizontal divider header">Cadastrar Pessoa</h1>
      </header>-->

      {# <h1 class="ui block header">Cadastrar Pessoa</h1>#}

      <div class="ui attached message">
        <h3 class="ui header">
          Cadastrar Pessoa
        </h3>
      </div>
      {# <form class="ui blue segment form">#}
      <form class="ui form attached fluid segment" role="form" id="formPessoa" method="post" action="{% url 'cadastrar_pessoa'%}">
            {% csrf_token %}
            {# cria campos escondidos#}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {#  cria campos visíveis#}
            {% for field in form.visible_fields %}
                <div class="field">
                    {{ field.errors }}
                    <label class="label-form">{{ field.help_text }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
