{% extends 'app_bovino/base.html' %}
{#{% load i18n %}#}
{% load staticfiles %}


{% block title %}Cadastrar Raça{% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <div class="ui attached message">
        <h3 class="ui header">
          Cadastrar Raça
        </h3>
      </div>

      <form class="ui form attached fluid segment" role="form" id="formRaca" method="post" action="{% url 'cadastrar_raca'%}">
            {% csrf_token %}

            <div class="field">
                <label class="label-form"> {{ form.raca.help_text }}</label>
                {{ form.raca }}
                {% if form.raca.errors %}
                    {{ form.raca.errors }}
                {% endif %}
            </div>

            <div class="ui field">
               <label class="label-form"> {{ form.descricao.help_text }}</label>
               {{ form.descricao }}
               {% if form.descricao.errors %}
                   {{ form.descricao.errors }}
               {% endif %}
            </div>

            <a href="{% url 'painel_controle' %}" class='ui button' name="cancelar">Cancelar</a>
            <button class="ui button" type="submit" name="cadastrar">Cadastrar</button>
        </form>
    </div>
    <div class="two wide column"></div>
{% endblock %}
