{% extends 'app_bovino/base.html' %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->
{#{% load i18n %}#}

{#{% block title %} {% trans "Painel de Controle"%} {% endblock %}#}
{% block title %} Painel de Controle {% endblock %}

{% block body %}
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <header>
          <h1 class="ui horizontal divider header">Painel de Controle</h1>
        </header>

        {% if cards%}
            <div class="ui centered cards">
                {% for card in cards  %}
                    <div class="blue card">
                      <div class="content">
                        <div class="header">
                          {{ card.model }}
                        </div>

                        {% if card.model == cards.4.model or card.model == cards.5.model or card.model == cards.6.model or card.model == cards.7.model or card.model == cards.8.model %}
{#                            <div class="one wide columns">#}
                              <div class="centered column">
                                  <a href="../{{card.url_listar}}" class="item">
                                      <i class="info icon"></i>
                                      Listar
                                  </a>
                              </div>
{#                            </div>#}
                        {% else %}
                            <div class="two wide columns">
                              <div class="column right">
                                  <a href="../{{card.url_cadastrar}}" class="item">
                                      <i class="plus icon"></i>
                                      Cadastrar
                                  </a>
                                  <a href="../{{card.url_listar}}" class="item">
                                      <i class="info icon"></i>
                                      Listar
                                  </a>
                              </div>
                            </div>

                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
            </div>
        {% else %}
            <div class="panel panel-info">
                {# {% blocktrans %}#}
                    <div class="panel-heading">Painel de controle</div>
                    <div class="panel-body">Não existem módulos ativos para o seu usuário.</div>
                {# {% endblocktrans %}#}
            </div>
        {% endif %}
    </div>
    <div class="two wide column"></div>


{% endblock %}
